<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding: 0px">
  <div class="well" style="padding: 5px; padding-left: 20px">
    <h1>Tap Tap.. </h1>
    See how fast you can tap in a sequence
    <a class="btn btn-default pull-right" style="margin-top: -55px" (click)="showSettings()">Settings</a>
    <button class="btn btn-default pull-right" style="margin-top: -15px" (click)="restart()">Restart</button>
  </div>

  <!--<router-outlet></router-outlet>-->
  <gd-tap-me [mode]="gameMode" [gridSize]="16" *ngIf="!settingsShowFlag"></gd-tap-me>
  <gd-tap-me-settings *ngIf="settingsShowFlag" (modeSelectedOut)="onModeSelected($event)" [selectedMode]="gameMode"></gd-tap-me-settings>
</div>
