
<div>
  <canvas id="myCanvas" [width]="width" [height]="height" style="display: block">
  </canvas>
</div>

<div style="position: fixed; bottom: 10px; right: 10px;">
  <span *ngIf="showSettings">
    <span>
      <button id="clearButton" class="btn" (click)="clear()"                            style="height: 2em; width: 3em; padding: 0px; margin-bottom: 6px">Clear</button>
      <input id="bgColorButton" type="color" [(ngModel)]="penColor" value="#FFFFFF"     style="height: 2em; width: 3em; border-radius: 4px"/>
      <input type="color" [(ngModel)]="bgColor" value="#000000" (change)="setBgColor()" style="height: 2em; width: 3em; border-radius: 4px"/>

      <input type="range" id="penSize" min="1" max="50" [(ngModel)]="penSize" style="width: 150px;display: inline;"/>
      <span style="font-size: 1em; color: gold">{{penSize}}</span> <br>

      <button (click)="setPenStyle(0)" class="btn" style="height: 2em; width: 3em; padding: 0px;">Basic</button>
      <button (click)="setPenStyle(1)" class="btn" style="height: 2em; width: 3em; padding: 0px;">Web</button>
      <button (click)="setPenStyle(2)" class="btn" style="height: 2em; width: 4em; padding: 0px;">Pattern</button>
    </span>
  </span>

  <span style="float: right">
    <i class="glyphicon glyphicon-cog" style="font-size: 2em; color: greenyellow; margin-left: 5px; vertical-align: bottom" (click)="showHideSettings()"></i>
  </span>
</div>
