<div>
  <canvas id="myCanvas" width="350" height="550" style="border: 1px solid;">
  </canvas>
</div>
<div>
  <div class="col-xs-6" style="padding: 0px">
    <button class="btn" (click)="clear()">Clear</button>
    <input type="color" [(ngModel)]="penColor" value="#FFFFFF"/>
    <input type="color" [(ngModel)]="bgColor" value="#000000" (change)="setBgColor()"/>
  </div>
  <div class="col-xs-1">
  {{penSize}}
  </div>
  <div class="col-xs-5" style="padding: 0px">
    <input type="range" id="penSize" min="1" max="100" [(ngModel)]="penSize" style="width: 100px;"/>
  </div>
</div>

